/*Login Page Style */
.hbox-login{
	-fx-background-color:#ffffff;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
}
.shadow{
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
	
	
}

.white-box{
	-fx-background-color:#ffffff;
		
}

.menu-image-background{
	-fx-background-image: url('../images/baggage.png');
	-fx-background-position: bottom left ;
	-fx-background-repeat: no-repeat;
	-fx-background-size:550 ;
}
.root
{
	-fx-background-image: url('../images/login_view_bg.png');
	-fx-background-size:cover;
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;
	-fx-background-color:#ffffff;
	
}
.main-bg{
	-fx-background-image: url('../images/main_bg.png');
	-fx-background-size:cover;
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;
	-fx-background-color:#ffffff;
}

.button {
	-fx-background-color:#28e0ffff;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    
}
.button:hover {
	-fx-background-color:#88eeffff;
    -fx-text-fill: white;
    -fx-font-size: 18px;
}
.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #88eeffff , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.round-border {
    -fx-hgap: 20px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 7px;
    -fx-border-radius: 7px;
    -fx-border-width: 2px;
    -fx-border-color: grey;
}

.blur-effect{
	-fx-background-color: rgba(0, 100, 100, 0.2); 
	-fx-background-radius: 7;
	-fx-border-radius: 7px;
    -fx-border-width: 0px;
}